<nav class="nav navbar-expand-md" style="height: 50px; background-color: #A81E33">
    <a href="#" class="navbar-brand" routerLink=''>
        <img src="../../assets/cravingCompassLogoV6.svg" height="75px" class="align-items-center">
    </a>

    <div class="collapse navbar-collapse justify-content-between">
        <ul class="nav navbar-nav">
            <li routerLinkActive="selected">
                <a class="text-light text-uppercase font-weight-light px-3" routerLink="/about">About</a>
            </li>
            <li routerLinkActive="selected">
                <a class="text-light text-uppercase font-weight-light px-3" routerLink="/dish-tionary">Dish-tionary</a>
            </li>
            <li routerLinkActive="selected">
                <a class="text-light text-uppercase font-weight-light px-3" routerLink="/restaurant-results">Search</a>
            </li>
        </ul>
    </div>
</nav>