<footer class="footer mt-auto">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-5">
            <p class="text-light py-3 align-items-center">&copy;Copyright 2021, Casey Gardonio-Foat</p>
        </div>
        <div class="col-lg-5">
            <div class="py-3 justify-items-end">
                <a href="https://www.launchcode.org/coder_girl" class="px-2">
                    <img src="../../assets/icons/CoderGirl_icon_white.svg" style="height: 25px">
                </a>
                <a href="https://github.com/CaseyGardonio-Foat/CravingCompassApp" class="px-2">
                    <img src="../../assets/icons/github.svg" style="height: 25px">
                </a>
                <a href="https://angular.io/" class="px-2">
                    <img src="../../assets/icons/angular_solidBlack.svg" style="height: 25px">
                </a>
                <a href="https://getbootstrap.com/" class="px-2">
                    <img src="../../assets/icons/bootstrap-open.svg" style="height: 25px">
                </a>
            </div>
        </div>
      </div>
    </div>
  </footer>