<footer class="footer mt-auto">
    <div class="container-fluid">
      <div class="row justify-content-between align-items-baseline">
        <!-- <div class="col-md-10"> -->
            <p class="text-uppercase px-5 mx-5" style="color: white">
                &copy; 2021, Casey Gardonio-Foat
            </p>
        <!-- </div> -->
        <!-- <div class="col-lg-5"> -->
            <div class="py-3 px-5 mx-5">
                
                <a id="coderGirl" href="https://www.launchcode.org/coder_girl" class="px-2">
                    <img src="../../assets/icons/CoderGirl_icon_white.svg" style="height: 25px">
                </a>
                <a id="gitHub" href="https://github.com/CaseyGardonio-Foat/CravingCompassApp" class="px-2">
                    <img src="../../assets/icons/github.svg" style="height: 25px">
                </a>
                <a id="angular" href="https://angular.io/" class="px-2">
                    <img src="../../assets/icons/angular_solidBlack.svg" style="height: 25px">
                </a>
                <a id="bootstrap" href="https://getbootstrap.com/" class="px-2">
                    <img src="../../assets/icons/bootstrap-open.svg" style="height: 25px">
                </a>
            </div>
        <!-- </div> -->
      </div>
    </div>
  </footer>