<footer class="footer bottom">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <p class="text-white text-uppercase font-weight-light align-self-center">&#169; Casey Gardonio-Foat, 2021</p>
            <div class="py-2">
                <a href="#" class="px-2">
                    <img src="../../assets/icons/CoderGirl_icon_white.svg" style="height: 25px">
                </a>
                <a href="#" class="px-2">
                    <img src="../../assets/icons/angular_solidBlack.svg" style="height: 25px">
                </a>
                <a href="#" class="px-2">
                    <img src="../../assets/icons/bootstrap-open.svg" style="height: 25px">
                </a>
                <a href="#" class="px-2">
                    <img src="../../assets/icons/github.svg" style="height: 25px">
                </a>
            </div>
        </div>
    </div>
</footer>
