@font-face {
  font-family: 'Modesto Open InlineFill';
  src: url('../assets/fonts/ModestoOpenInlineFill/ModestoOpen-InlineFill.woff2') format('woff2'),
      url('../assets/fonts/ModestoOpenInlineFill/ModestoOpen-InlineFill.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Questrial';
  src: url('../assets/fonts/Questrial/Questrial-Regular.woff2') format('woff2'),
      url('../assets/fonts/Questrial/Questrial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
