<h1>So what is this "CravingCompass" and why do I need it?</h1>

<p>You’ve been looking forward to your 30 minute lunch break since you yawned in to work this morning, but how do you make the most of it? Or maybe you’re visiting a new city for a few days. You only have so many meals during which to sample all the delicacies you can’t get back home, but how do you find them effectively?</p>

<h1>Enter CravingCompass</h1>

<p>Input your location, the distance you’re willing to travel, and the food item you’re craving, and CravingCompass will return a list of area restaurants that fit the bill. Or browse our inspirational menus of regional specialities to get some inspiration, then find nearby restaurants that offer that cuisine. You can view their entire menus, hours, and locations to help you make your final choice. If reviews are available, access them via handy links. If you happen across an interesting dish you’re not familiar with, check the Dish-tionary for a quick description.</p>

<h1>Don't see your favorite dish listed?</h1>

<p>We're always on the hunt for amazing foods to add to our listings. If you don't see your favorite cuisine or dish listed, complete and submit this form so we can add it!</p>

<form>Dish Submission Form will go here</form>




