<app-header></app-header>
<section>
  <div class="container-fluid my-4">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h2 class="text-display-2 text-primary" style="font-weight: bold;">What is this and why do I need it?</h2>

        <p class="lead">You’ve been looking forward to your 30 minute lunch break since you yawned in to work this morning, but how do you make the most of it? Or maybe you’re visiting a new city for a few days. You only have so many meals during which to sample all the delicacies you can’t get back home, but how do you find them effectively?</p>
        <br>
        
        <h2 class="text-display-2 inline" style="font-weight: bold;">
          <span class="text-primary">Enter </span>
          <span class="text-secondary">Craving Compass</span>
        </h2>

        <p class="lead">Input your location, the distance you’re willing to travel, and the food item you’re craving, and CravingCompass will return a list of area restaurants that fit the bill. Or browse our inspirational menus of regional specialities to get some inspiration, then find nearby restaurants that offer that cuisine. You can view their entire menus, hours, and locations to help you make your final choice. If reviews are available, access them via handy links. If you happen across an interesting dish you’re not familiar with, check the Dish-tionary for a quick description.</p>
        <br>

        <h2 class="text-display-2 text-primary" style="font-weight: bold">Don't see your favorite dish listed?</h2>
        
        <p class="lead">We're always on the hunt for amazing foods to add to our listings. If you don't see your favorite cuisine or dish listed, contact us so we can add it!</p>
     
        <!--contact/submission form-->
        <!--
        <form class="text-muted">
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="Your name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="email" placeholder="Your email">
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <input type="text" class="form-control" id="email" placeholder="Dish name">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <input type="text" class="form-control" id="email" placeholder="Dish cuisine">
              </div>
            </div>
          </div>  
          <div class="form-group">
            <textarea class="form-control" id="message" rows="3" placeholder="Please enter a brief description of your dish"></textarea>
          </div>
          <button class="btn btn-danger btn-block" type="submit">Submit Suggestion</button>
        </form>
        -->    
      </div>
    </div>
  </div>
</section>









