<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="col text-center my-3">Browse by Region/Culture/Nationality</h3>
    </div>
  </div>
  <div class="row text-center my-3">
    <div class="col-md-2" style="cursor: pointer;" (click)="onSelected('africa')">
      <img href="#" src="../../assets/foodIcons/Pizza.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Africa</h5>
    </div>
    <div class="col-md-2" style="cursor: pointer;" (click)="onSelected('americas')">
      <img href="#" src="../../assets/foodIcons/Pizza.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Americas</h5>
    </div>
    <div class="col-md-2" style="cursor: pointer;" (click)="onSelected('asia')">
      <img href="#" src="../../assets/foodIcons/Pizza.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Asia</h5>
    </div>
    <div class="col-md-2" style="cursor: pointer;" (click)="onSelected('australia')">
      <img href="#" src="../../assets/foodIcons/Pizza.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Australia/Oceania</h5>
    </div>
    <div class="col-md-2" style="cursor: pointer;" (click)="onSelected('europe')">
      <img href="#" src="../../assets/foodIcons/Pizza.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Europe</h5>
    </div>
    <div class="col-md-2" style="cursor: pointer;" (click)="onSelected('middleEast')">
      <img href="#" src="../../assets/foodIcons/Pizza.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Middle East</h5>
    </div>
  </div>
</div>
<div>
  <div *ngFor="let culture of region" [culture]="culture">{{ culture.name }}</div>
</div>