<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Dish-tionary!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Search</h2>
        </div>
        <div class="col-md-6">
            <h2>Browse</h2>
        </div>
    </div>
    <div class="container">
        <div class="row"> 
            <ul *ngFor="let dish of dishes" class="list-unstyled"> 
                <li>
                    <div class="col-md-1"></div>
                    <div class="col-md-3 ">
                        <img [src]="dish.imagePath" 
                        alt='{{dish.name}}'
                        class='w-3 h-auto'>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <h3>{{ dish.name }}</h3>
                            <p>{{ dish.description }}</p>
                        </div>
                    </div>
                </li> 
            </ul> 
        </div>
    </div>
</div>
