<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Welcome to the Dish-tionary!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Search</h2>
        </div>
        <div class="col-md-6">
            <h2>Browse</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col bg-primary">blah</div>
        <div class="col bg-success">blah</div> 
        <div class="col bg-danger">blah</div>
    </div>

    <div class="row" *ngFor="let dish of dishes"> 
        <img [src]="dish.imagePath" 
            alt='{{dish.name}}'
            class='col-md-2'
            >
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <h3>{{ dish.name }}</h3>
            <p>{{ dish.description }}</p>
        </div>
    </div>
</div>
