img {
    width: 100 px;
}

.container {
    flex-flow: row;
}

#entry {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #681648;
    font-size: medium;
    color: white;
}

.btn {
    color: white;
}