<app-header></app-header>
<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-md-10">
            <h1 class="text-display-1 text-center text-primary" style="letter-spacing: -3px;">Welcome  to  the  Dish-tionary!</h1>
            <p class="lead text-center text-secondary">Learn more about unfamiliar dishes! Search by name or browse by region, cuisine, or type.</p>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-md-10">
            <form class="form-inline ml-3" #filterKeyword="ngForm">
                <div class="input-group col-md-12">
                    <label class="sr-only" for="filterKeyword">Search for a dish or cuisine</label>
                    <input type="text" class="form-control text-uppercase" id="filterKeyword" name="filterKeyword"
                    ngModel placeholder="Search for a dish or cuisine!">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-danger" (click)="onFilterDishes(filterKeyword)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!--Browse Dropdown start-->
        <!--from W3 Schools--doesn't work
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Dropdown button
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </div> 
        -->
        <!--from Bootstrap 4 documentation--doesn't work
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        -->
        <!--below follows instructions from Udemy Angular class--doesn't work-->
        <!-- <div class="col-md-4 justify-content-end">
            <div class='btn-group' >
                <button type='button' class='btn btn-danger btn-block dropdown-toggle' appBrowseDropdown>
                    Browse by cuisine 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <span class='caret'></span>
                </button>
                <div class='dropdown-menu' aria-labelledby="dropdownMenuButton">
                    <a style="cursor: pointer" (click)="onFilterDishes()" id="africa">Africa</a>
                    <a style="cursor: pointer" (click)="onFilterDishes()" id="americas">Americas</a>
                    <a style="cursor: pointer" (click)="onFilterDishes()" id="europe">Europe</a>
                    <a style="cursor: pointer" (click)="onFilterDishes()" id="mediterranean">Mediterranean</a>
                    <a style="cursor: pointer" (click)="onFilterDishes()" id="easternEurope">Eastern Europe</a>
                    <a style="cursor: pointer" (click)="onFilterDishes()" id="middleEast">Middle East</a>
                    <a style="cursor: pointer" (click)="onFilterDishes()" id="asia">Asia</a>
                    <a style="cursor: pointer" (click)="onFilterDishes()" id="southeastAsia">Southeast Asia</a>
                    <a style="cursor: pointer" (click)="onFilterDishes()" id="australiaNewZealand">Australia/Oceania</a>
                </div>   
            </div>
        </div> -->
        <!--Browse Dropdown end-->
    </div>
</div>

<div class="container-fluid" *ngIf="filteredDishes.length === 0 ">
    <div class="row" id="entry" *ngFor="let dish of dishes"> 
        <div class="col-md-1"></div>
        <img [src]="dish.imagePath" alt='{{dish.name}}' class='col-md-2'>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <br>
            <h5 class="text-uppercase">{{ dish.name }}</h5>
            <p class='text-fill'>{{ dish.description }}</p>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="filteredDishes.length > 0 ">
    <div class="row" id="entry" *ngFor="let dish of filteredDishes">
        <div class="col-md-1"></div>
        <img [src]="dish.imagePath" alt='{{dish.name}}' class='col-md-2'>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <br>
            <h5 class="text-uppercase">{{ dish.name }}</h5>
            <p class='text-fill'>{{ dish.description }}</p>
        </div>
    </div>
</div>
