<app-header></app-header>

<div class="container-fluid my-4">
    <div class="row justify-content-center">
        
        <div class="col-md-10">
            <div class="row" style="min-height: 75vh">
                <div class="col-md-4">
                    <app-restaurants-list></app-restaurants-list>
                </div>
                <div class="col-md-8">
                    <app-map></app-map>
                </div>
            </div>

            <!--requires some additional work to get these buttons to function; for now, use the "New Search" button in the nav bar to make all searches from the landing page-->
            <!-- <div class="row justify-content-center" id="browseComponents">
                <app-browse-cuisine></app-browse-cuisine>
                <app-browse-type></app-browse-type>
            </div> -->
            
        </div>
    </div>
</div>
        
