<app-header></app-header>
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-restaurants-list>Restaurant List</app-restaurants-list>
        </div>
        <div class="col-md-9">
            <app-map>Restaurant Map</app-map>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-browse-cuisine></app-browse-cuisine>
            <app-browse-type></app-browse-type>
        </div>
    </div>
</div> -->
<div class="container-fluid my-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row" style="min-height: 75vh">
                <div class="col-md-3">
                    <app-restaurants-list>Restaurant List</app-restaurants-list>
                </div>
                <div class="col-md-9">
                    <app-map>Restaurant Map</app-map>
                </div>
            </div>
            <div class="row justify-content-center">
                <app-browse-cuisine></app-browse-cuisine>
                <app-browse-type></app-browse-type>
            </div>
        </div>
    </div>
</div>
        
