<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-landing-page></app-landing-page>
      <app-about></app-about>
      <button class="btn btn-success">test button</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-browse-cuisine></app-browse-cuisine>
      <app-browse-type></app-browse-type>
    </div>
  </div>
</div>
<app-footer></app-footer>
<hr>
<app-restaurants></app-restaurants>
<hr>
<app-dish-tionary></app-dish-tionary>


