<div>
  <!--need to fix: display a marker for center; customize marker appearance for center and locations; currently, adding this code causes the map to malfunction;
  need to fix--set a bounding box for the map that is the same as the distance searched for-->
  <img src ="https://www.mapquestapi.com/staticmap/v5/map?key={{mapsKey}}&center={{lat}},{{lng}}&locations={{lat}},{{lng}}|circle-f47b26-f05423||{{restaurantAddressesString}}&zoom=15&size=700,500&defaultMarker=marker-681648-4e1036-num">
</div>

