<div>
  <!--need to fix: display a marker for center; customize marker appearance for center and locations; currently, adding this code causes the map to malfunction;
  need to fix--set a bounding box for the map that is the same as the distance searched for-->
  <img src ="https://www.mapquestapi.com/staticmap/v5/map?key={{this.keysService.getMapQuestKey()}}&center={{lat}},{{lng}}&locations={{lat}},{{lng}}|circle-F47B26-A81E33||{{restaurantAddressesString}}&zoom=16&size=700,500&defaultMarker=marker-681648">
</div>

