<!--
<section>
  <div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1 class="display-4">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<!--
<section>
  <div class="container-fluid" id="hero-background-image">
    <div class="row">
      <div class="col-10">
        <p>lorem500</p>
      </div>
    </div>
  </div>
</section>
-->

<section>
  <div class="container-fluid">
    <div class="row">
      <img src="../../assets/landingPageHero180.png" class="col-lg">
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <app-browse-cuisine></app-browse-cuisine>
        <app-browse-type></app-browse-type>
      </div>
    </div>
  </div>
</section>
