<div class="jumbotron jumbotron-fluid " style="min-height: 100vh;">
  <div class="container-fluid">
    <div class="row">
      <ul class="nav nav-pills col-md-7 align-items-center">
        <li class="nav-item align-self-top" style="padding-left: 100px;">
          <a href="#" routerLink=''>
            <img src="../../assets/cravingCompassLogoV6.svg" style="height: 10rem;">
          </a>
        </li>
        <li class="nav-item" routerLinkActive="selected">
          <a class="nav-link text-light text-uppercase" routerLink="about">About</a>
        </li>
        <li class="nav-item" routerLinkActive="selected">
          <a class="nav-link text-light text-uppercase" routerLink="dish-tionary">Dish-tionary</a>
        </li>
        <li class="nav-item" routerLinkActive="selected">
          <a class="nav-link text-light text-uppercase" routerLink="restaurant-results">Search</a>
        </li>
      </ul>
    </div>

    <div class="row justify-content-center align-items-center" style="height: 400px">
      <div class="text-center">
        <p class="display-4 text-uppercase text-right">
          <span class="text-white">what are</span>
          <span class="text-warning"> you </span>
          <span class="text-white">craving?</span>
        </p>
        
        <a href="#" class="btn btn-light btn-lg px-4 m-3 text-uppercase text-danger text-uppercase">search</a>
        <a href="#" class="btn btn-light btn-lg px-4 m-3 text-uppercase text-danger text-uppercase">browse</a>
      </div>  
    </div>
  </div>
</div>

<section>
  <div class="container-fluid" style="min-height: 100vh; bg-cover;">
    <div class="row">
      <img id="hero-background-image " src="../../assets/landingPageHero180-2.png" class="col-lg">
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <app-browse-cuisine></app-browse-cuisine>
        <app-browse-type></app-browse-type>
      </div>
    </div>
  </div>
</section>
