.jumbotron {
  max-width: 1900px;
  min-height: 100vh;
  background-image: url(../../assets/landingPageHero180-v2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  padding: 0;
}

#hero-background-image {
  background-image: url(../../assets/landingPageHero180-v2.png);
  background-repeat: no-repeat;
  max-width: 1900px;
  max-height: 900px;
}

.nav {
  margin:0px;
	padding: 0px;
}

.img {
  margin: 0px;
  padding: 0px
}

input.ng-invalid.ng-touched {
  border: 2px solid #F47B26;
}

input.ng-valid.ng-touched {
  border: 2px solid #8A9F33;
}