<!--start: landing page jumbotron; see css for jumbotron image settings-->
<div class="jumbotron jumbotron-fluid" style="min-height: 100vh;">
  <div class="container-fluid">
    <!--start: landing page top navigation buttons-->
    <div class="row">
      <ul class="nav align-items-center" style="justify-content: space-around;">
        <li class="nav-item align-self-top" style="padding-left: 100px;">
          <a href="#" routerLink=''>
            <img src="../../assets/cravingCompassLogo v7.svg" style="height: 10rem;">
          </a>
        </li>
        <li class="nav-item" routerLinkActive="selected">
          <a class="nav-link text-display-nav text-light" routerLink="about">About</a>
        </li>
        <li class="nav-item" routerLinkActive="selected">
          <a class="nav-link text-display-nav text-light" routerLink="dish-tionary">Dish-tionary</a>
        </li>
      </ul>
    </div>
    <!--end: landing page top navigation buttons-->

    <!--start: landing page jumbotron headline and form-->
    <div class="row justify-content-center align-items-center" style="height: 400px">
      <div class="text-center">
        <p class="text-display-1 text-uppercase text-right">
          <span class="text-white">what are</span>
          <span class="text-warning"> you </span>
          <span class="text-white">craving?</span>
        </p>

        <!--start: landing page jumbotron form-->
        <!-- //for use with search.service.ts:
        <form class="text-light" (ngSubmit)="onSubmitSearch(f)" #f="ngForm"> 
        -->
        <form class="text-light" (ngSubmit)="onSubmitLocationForm(locationForm)" #locationForm="ngForm">
          <div class="form-inline" style="margin-bottom: 10px;">
            <label class="sr-only" for="location">Where do you want it?</label>
            <input type="text" class="form-control col-10 text-uppercase" id="location" name="location" 
            ngModel required
            placeholder="Where do you want it?">

            <label class="sr-only" for="distance">distance</label>
            <select class="custom-select form-control col-2" id="distance" name="distance" 
            [ngModel]="defaultDistance" required>
              <option value=".5">.5 mi</option>
              <option value="1">1 mi</option>
              <option value="5">5 mi</option>
              <option value="10">10 mi</option>
              <option value="20">20 mi</option>
            </select>
          </div>

          <button *ngIf="!coordsRetrieved" class="btn btn-outline-warning btn-block text-display-nav" style="font-weight: bold; margin-bottom: 10px;" type="submit" [disabled]='!locationForm.valid' >Next</button>
        </form>

        <form *ngIf="coordsRetrieved" class="text-light" (ngSubmit)="onSearchRestaurants(dishSearch)" #dishSearch="ngForm">
          <div class="form-group">
            <label class="sr-only" for="dish">I know just what I want...</label>
            <input type="text" class="form-control text-uppercase" id="dish" name="dish" 
            ngModel required [disabled]="!locationForm.valid" placeholder="I know just what I want...(or browse for a cuisine below!)">
          </div>

          <button class="btn btn-outline-warning btn-block text-display-nav" style="font-weight: bold; margin-bottom: 10px;" type="submit" [disabled]='!dishSearch.valid'>Let's Go!</button>
        </form>
        <!--end: landing page jumbotron form-->

      </div>  
    </div>
    <!--end: landing page jumbotron headline and form-->

  </div>
</div>
<!--end: landing page jumbotron-->

<!--start: landing page browse cuisines menus-->
<section id="browseComponents">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <app-browse-cuisine></app-browse-cuisine>
        <app-browse-type></app-browse-type>
      </div>
    </div>
  </div>
</section>
<!--end: landing page browse cuisines menus-->
