.jumbotron {
  max-width: 1900px;
  max-height: 900px;
  background-image: url(../../assets/landingPageHero180.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#hero-background-image {
  background-image: url(../../assets/landingPageHero180.png);
  background-repeat: no-repeat;
  max-width: 1900px;
  max-height: 900px;
}