<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="col text-center my-5 text-display-2" style="font-weight: bold;">Browse by Meal/Type</h3>
    </div>
  </div>
  
  <div class="row text-center my-3">
    <div class="col-md-2">
      <img href="#" src="../../assets/foodIcons/Meals.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Meals</h5>
    </div>
    <div class="col-md-2">
      <img href="#" src="../../assets/foodIcons/Cafe.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Cafe</h5>
    </div>
    <div class="col-md-2">
      <img href="#" src="../../assets/foodIcons/Dessert.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Dessert/Sweets</h5>
    </div>
    <div class="col-md-2">
      <img href="#" src="../../assets/foodIcons/Healthy_Salad.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Healthy</h5>
    </div>
    <div class="col-md-2">
      <img href="#" src="../../assets/foodIcons/Fast-Casual.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Fast Casual</h5>
    </div>
    <div class="col-md-2">
      <img href="#" src="../../assets/foodIcons/Fine-Dining.svg" style="height: 75px" class="mb-3">
      <h5 class="font-weight-light">Fine Dining</h5>
    </div>
  </div>
</div>