@import url('./assets/scss/modules/_fonts.scss');

.text-display-1 {
  font-family: 'Modesto Open InlineFill';
  font-size: 32pt;
}

.text-display-2 {
  font-family: 'Modesto Open InlineFill';
  font-size: 24pt;
}

.text-display-nav {
  font-family: 'Modesto Open InlineFill';
  font-size: 12pt;
  font-weight: bold;
}

.navbar-brand {
  /* display:inline-block; */
  padding-top:0rem;
  padding-bottom:0rem;
  /* margin-right:1rem;
  font-size:1.25rem;
  line-height:inherit;
  white-space:nowrap */
}
/* $primary_font: 'Jost';

/* font-weight */
/* $thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900; */

/* Font size */
/* $font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px; */ 

/* body {
    font-family: $primary_font;
    font-size: $primary-fs;
    font-weight: $regular;
} */

